/* * {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0 0;
    padding: 0 0;
}

.bid .bid-text {
    margin-top: 60px;
    margin-left: 3vw;
    margin-bottom: 1vw;
} */