.ibm-plex-sans-thai-looped-thin {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-sans-thai-looped-extralight {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-sans-thai-looped-light {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-sans-thai-looped-regular {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-sans-thai-looped-medium {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-sans-thai-looped-semibold {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-sans-thai-looped-bold {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.fredoka-300 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.fredoka-400 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.fredoka-500 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.fredoka-600 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.fredoka-700 {
    font-family: "IBM Plex Sans Thai Looped", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}