* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
}
.navbar .logo {
  max-height: min(100%, 50px);
}
.navbar .pfp {
  max-width: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 20px;
  top: 16px;
  aspect-ratio: 1 / 1;
}

.navbar {
  margin: 0;
  width: 100%;
  position: fixed;
  background: linear-gradient(90deg, #D3ECCD 0%, #C8B7DC 100%);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  height: 70px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #141414;
  text-decoration: none;
  z-index: 100;
}

.navbar .pfp:hover {
  cursor: pointer;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #141414;
  transition: transform 300ms ease-out;
}

.menu a:hover,
.menu a.active {
  color: #495C9D;
  font-size: 20px;
  transform: translateY(-4px);
  position: relative;
}
.menu a.active::after{
  content: '';
  position: absolute;
  color: #495C9D;
  font-size: 20px;
}

.navbar li {
  margin: 0 2.5rem;
  margin-top: 1rem;
}

.search-css {
  display: flex;
  flex-direction: column;
}

.search-box {
  height: 40px;
  background: #fff;
  line-height: 20px;
  border-radius: 40px;
  position: absolute;
  right: 120px;
  z-index: 200;
}

.search-input {
  background: #fff;
  outline: none;
  border: none;
  line-height: 20px;
  margin: 10px;
  width: 300px;
  float: left;
  font-size: 16px;
  font-family: sans-serif;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #C8B7DC;
  padding: 5px;
  border-radius: 50%;
  float: right;
  color: #fff;
  margin: 6.5px;
  border-color: #ab8ecb;
  z-index: 1000;
}

.search-btn:hover{
  cursor: pointer;
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-btn {
  display: inline;
}

.file-input input {
  display: none;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1.5px solid #d2d2d2;
  padding: 18px;
  border-radius: 30px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 500;
  font-style: normal;
  align-items: center;
  justify-items: center;
}

.card-container {
  justify-content: center;
  padding-bottom: 3vw;
  position: relative;
  display: grid;
  grid-gap: 1.75vw;
  grid-template-columns: repeat(auto-fill, 220px);
}

.card .delete-btn {
  background-color: #F46A6A;
  border: #F46A6A;
  padding: 7px 20px;
  border-radius: 23px;
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
}

.card .delete-btn:hover {
  background-color: #9e9e9e;
  border: #9e9e9e;
  cursor: pointer;
}

.card .delete-btn:active {
  background-color: #ab8ecb;
  border: #ab8ecb;
}

.time-price {
  display: grid;
  grid-template-columns: repeat(1fr,2);
  grid-template-rows: 1fr;
  gap: 40px;
  width: 180px;
  padding-top: 5px;
  justify-self: stretch;
}

.card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.card span {
  color: #141414;
  text-align: end;
  grid-row: 1;
  grid-column: 2;
}

.card .price {
  text-align: start;
  grid-column: 1;
  grid-row: 1;
  color: #3E25DB;
}

.card h2 {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding-top: 10px;
  text-align: center;
  color: #141414;
}

.back-btn {
  margin-left: 10px;
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline;
  text-decoration: none;
  color: #946ebc;
  background-color: #C8B7DC;
}

.add-btn {
  text-decoration: none;
  color: #946ebc;
  font-size: 35px;
  top: 50%;
  left: 50%;
  position: absolute;
}

.add-btn-bg {
  position: fixed;
  z-index: 1;
  right: 40px;
  top: 80px;
  border-radius: 50%;
}

.bid-text {
  margin-top: 60px;
  margin-left: 3vw;
  margin-bottom: 10px;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.navbar>.ham-menu {
  order: 5;
  display: inline-block;
  position: absolute;
    right: 20px;
    top: 16px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2.5px;
  display: none;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.ham-menulist {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  position: fixed;
  z-index: 1;
  background: linear-gradient(90deg, #c4ddbd 0%, #b4a1c9 100%);
  justify-content: center;
}

.ham-menulist li {
  padding: 10px;
  text-align: center;
}

.ham-menulist li span {
  margin-left: 10px;
}

.ham-menulist a {
  text-decoration: none;
  color: #141414;
  display: block;
}

.ham-menulist li:hover {
  background-color: #1414142c;
}

.ham-menulist .pfp {
  width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
  .navbar .pfp {
    display: none;
  }
  .search-input {
    width: 50vw;
  }
  .search-box {
    right: auto;
    position: relative;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar>.ham-menu {
    position: absolute;
  }
  .bar1,
  .bar2,
  .bar3 {
    display: block;
  }
}